<div id="rangeSliderPlot"></div>
<ngx-slider
  [(value)]="minValue"
  [(highValue)]="maxValue"
  [options]="options"
  (userChange)="change3($event)"
></ngx-slider>
<div id="slider-range"></div>
<button (click)="onUndoZoom()">Undo Zoom</button>
<p>child works!</p>
<div #plot></div>
<div #plot1></div>
<div id="myPlot" style="width: 100%; max-width: 700px"></div>
<div id="myDiv1"></div>
<div id="myDiv"></div>
<div id="plotLayout"></div>
<div id="myDiv4" #myDiv4></div>
<button (click)="panButton()">Pan</button>
<button (click)="zoomButton()">Zoom</button>
<button (click)="autoscaleButton()">Auto Scale</button>
<button (click)="resetAxesButton()">Reset Axes</button>
<button (click)="scrollZoom()">Scroll Zoom</button>
<form #range="ngForm" (ngSubmit)="onClickSubmit(range.value)">
  <input type="text" name="min" ngModel /> min
  <br />
  <input type="text" name="max" ngModel /> max
  <br />
  <input type="submit" value="submit" />
</form>
<select #select (change)="showTrace(select.value)">
  <option value="12">Trace 1 and 2</option>
  <option value="1">Trace 1</option>
  <option value="2">Trace 2</option>
  <option value="none">None</option>
</select>
<div id="hoverinfo" style="margin-left: 80px"></div>
